<html>

  <header>
    <title>Rock paper scissors!</title>
  </header>

  <body>
    <p>
      Enter your name:

      <form action="/initialize" method="post">
        <input type="text" name="Player" />
        <input type="submit" value="Submit" />
      </form>
    </p>
  </body>

</html>
