<html>

  <header>
    <title>Rock paper scissors!</title>
  </header>

  <body>


    <p>
        <%= "You selected #{@move}, the computer selected #{@computer_move}. You #{@result}!" %>

    </p>
    <form action="/make-move" method="post">
      <p>
        <input type="radio" name="choice" value="Rock" id="Rock" /> Rock
        <br />
        <input type="radio" name="choice" value="Paper" id="Paper" /> Paper
        <br />
        <input type="radio" name="choice" value="Scissors" id="Scissors" /> Scissors
      </p>
      <p>
        <input type="submit" value="Submit" />
      </p>
    </form>
  </body>

</html>
